streamlit==1.29.0
opencv-python==4.8.1.78
torch==2.1.0
mediapipe==0.10.8
elasticsearch==8.11.0
google-cloud-aiplatform==1.38.0
Pillow==10.1.0
numpy==1.26.2
vertexai==1.38.0
python-dotenv==1.0.1